@charset "UTF-8";

@keyframes show_ani {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes close_ani {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes show_sec {
    0%{opacity: 0; margin-top:200px;}
    5%{opacity: 0.05; margin-top:150px;}
    10%{opacity: 0.1; margin-top:110px;}
    15%{opacity: 0.15; margin-top:80px;}
    20%{opacity: 0.2; margin-top: 60px;}
    25%{opacity: 0.25; margin-top: 50px;}
    30%{opacity: 0.3; margin-top: 45px;}
    35%{opacity: 0.35; margin-top: 40px;}
    40%{opacity: 0.4; margin-top: 38px;}
    45%{opacity: 0.45; margin-top: 36px;}
    50%{opacity: 0.5; margin-top: 34px;}
    55%{opacity: 0.55; margin-top: 32px;}
    60%{opacity: 0.6; margin-top: 30px;}
    65%{opacity: 0.65; margin-top: 28px;}
    70%{opacity: 0.7; margin-top: 26px;}
    75%{opacity: 0.75; margin-top: 25px;}
    80%{opacity: 0.8; margin-top: 24px;}
    85%{opacity: 0.85; margin-top: 23px;}
    90%{opacity: 0.9; margin-top: 22px;}
    95%{opacity: 0.95; margin-top: 21px;}
    100% {opacity: 1; margin-top: 20px;}
}

@keyframes close_sec {
    0% {opacity: 1; margin-top: 20px;}
    5%{opacity: 0.95; margin-top: 21px;}
    10%{opacity: 0.9; margin-top: 22px;}
    15%{opacity: 0.85; margin-top: 23px;}
    20%{opacity: 0.8; margin-top: 24px;}
    25%{opacity: 0.75; margin-top: 25px;}
    70%{opacity: 0.3; margin-top: 45px;}
    30%{opacity: 0.7; margin-top: 26px;}
    35%{opacity: 0.65; margin-top: 28px;}
    40%{opacity: 0.6; margin-top: 30px;}
    45%{opacity: 0.55; margin-top: 32px;}
    50%{opacity: 0.5; margin-top: 34px;}
    55%{opacity: 0.45; margin-top: 36px;}
    60%{opacity: 0.4; margin-top: 38px;}
    65%{opacity: 0.35; margin-top: 40px;}
    75%{opacity: 0.25; margin-top: 50px;}
    80%{opacity: 0.2; margin-top: 60px;}
    85%{opacity: 0.15; margin-top:80px;}
    90%{opacity: 0.1; margin-top:110px;}
    95%{opacity: 0.05; margin-top:150px;}
    100%{opacity: 0; margin-top:200px;}
}