@charset "UTF-8";

@keyframes show_ani {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes close_ani {
    from {opacity: 1;}
    to {opacity: 0;}
}


@keyframes show_btn {
    from {opacity: 0; margin-right: 50px;}
    to {opacity: 1; margin-right: 0;}
}

@keyframes close_btn {
    from {opacity: 1; margin-right: 0px;}
    to {opacity:0; margin-right: 50px;}
}