@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: "思源黑体 CN Regular";
}
a{
    text-decoration: none;
}

input:-webkit-autofill { 
    box-shadow: 0 0 0px 1000px #e1e1e1 inset !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
}
.header_frame{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 999;
}

.header_placeholder{
    height: 70px;
}

.footer_frame{
    display: block;
    width: 100%;
    height: 300px;
    margin-top: 100px;
}

html,body{
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}
body.preload{
    -webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

#load_more{
    display: block;
    width: 120px;
    box-sizing: border-box;
    border: 0;
    height: 40px;
    text-align: center;
    line-height:40px;
    color: #fff;
    font-size: 15px;
    outline: 0;
    background: linear-gradient(150deg, #e12f54 30%, #5c123a 100%);
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;
}
#load_more:hover{
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 0 15px -5px #5c123a;
}


#to_top{
    position: fixed;
    display: none;
    right: 20px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon/totop2.png");
    background-color: #ddd;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px -4px #666;
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.2s;
}

.cate_back{
    width: 100%;
    min-width: 1240px;
    height: 74px;
    box-shadow: 0 0 45px -30px #333;
}
.cate_head{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 74px;
    margin: 0 auto;
}
.cate_title{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 17px;
    margin-left: 10px;
}
.cate_title>span:first-child{
    display: block;
    font-size: 24px;
    line-height: 46px;
    color: #424e66;
}
.cate_title>span:nth-child(2){
    display: block;
    font-size: 24px;
    line-height: 42px;
    color: #424e66;
    margin-left: 10px;
}
.cate_title>span:last-child{
    display: block;
    font-size: 16px;
    line-height: 46px;
    color: #666;
    margin-left: 10px;
}