@charset "UTF-8";

body{
    background: #f0f0f0;
}

#sms_list{
    width: 1240px;
    margin: 40px auto 20px;
    display: flex;
    flex-flow: column nowrap;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
#publish_sms{
    /* display: none; */
}
#publish_sms textarea{
    display: block;
    box-sizing: content-box;
    width: 620px;
    min-height: 110px;
    font-size: 22px;
    color: #333;
    resize: none;
    overflow:hidden;
    padding: 30px 40px;
    margin: 0 auto;
    border: 0;
    border-radius: 15px;
    outline: none;
}
#publish_sms #pub_bottom{
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 40px;
    margin: 15px auto 0;
}
#pb_left{
    display: flex;
    flex-flow: row nowrap;
}
#pb_left>div{
    width: 26px;
    height: 26px;
    margin-right: 15px;
    margin-top: 7px;
    background-size: cover !important;
    cursor: pointer;
    transition: all 0.2s;
}
#pb_left #emotion{
    background: url("../img/icon/emotion.png");
}
#pb_left #photo{
    background: url("../img/icon/photo.png");
}
#pb_left #tag{
    background: url("../img/icon/tag.png");
}

#pb_left #emotion:hover{
    background: url("../img/icon/emotion1.png");
}
#pb_left #photo:hover{
    background: url("../img/icon/photo1.png");
}
#pb_left #tag:hover{
    background: url("../img/icon/tag1.png");
}

#pb_right{
    width: 100px;
    box-sizing: border-box;
    border: 0;
    height: 36px;
    outline: 0;
    background: linear-gradient(150deg, #e12f54 30%, #5c123a 100%);
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    line-height: 36px;
    transition: all 0.2s;
}
#pb_right:hover{
    transform: scale(1.02);
    opacity: 1;
    box-shadow: 0 0 15px -5px #5c123a;
}

#publish_login{
    display: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 70px;
    width: 700px;
    margin: 20px auto 30px;
}
#publish_login>div:first-child{
    display: flex;
}
#publish_login>div>img{
    width: 70px;
}
#publish_login>div>span{
    color: #666;
    line-height: 70px;
    margin-left: 20px;
}
#pb_login_btn{
    display: block;
    width: 120px;
    box-sizing: border-box;
    border: 0;
    height: 40px;
    outline: 0;
    background: linear-gradient(150deg, #38bdfb 30%, #e12f54 100%);
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s;
    margin-top: 14px;
}
#pb_login_btn:hover{
    transform: scale(1.02);
    opacity: 1;
    box-shadow: 0 0 15px -5px #5c123a;
}
#hot_tags{
    width: 700px;
    margin: 30px auto 0;
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
}

#hot_badge{
    display: block;
    width: 80px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    background:#999;
    border-radius: 15px;
}

#tag_list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
#tag_list .tag{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    padding: 0 10px;
    padding-top: 25px;
    cursor: pointer;
    transition: all 0.2s;
}
.tag:nth-child(1){
    background: linear-gradient(100deg, #D463CB 0%, #EC7979 100%);
}
.tag:nth-child(2){
    background: linear-gradient(100deg, #FF912B 0%, #FFAF5F 100%);
}
.tag:nth-child(3){
    background: linear-gradient(100deg, #51D6AD 4%, #3FBEAD 100%);
}
.tag:nth-child(4){
    background: linear-gradient(100deg, #87E4FA 5%, #4FC5F2 100%);
}
#tag_list .tag:hover{
    box-shadow: 0 10px 20px -8px #586785;
}

#interest_list{
    display: flex;
    flex-flow: column nowrap;
    width: 700px;
    margin: 20px auto 0;
}
.in_block{
    width: 700px;
    margin-top: 40px;
    background: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 40px 20px;
}
.in_head{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.head_left{
    display: flex;
}
.in_avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px #C6C6C6;
    cursor: pointer;
}
.in_info{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 4px;
    margin-left: 10px;
}
.in_name{
    color: #435771;
    font-size: 16px;
}
.in_time{
    color: #C6C6C6;
    font-size: 14px;
}
.head_right{
    display: flex;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: #999;
    opacity: 0.8;
    color: #fff;
    line-height: 50px;
    transition: all 0.3s;
    border-radius: 25px;
}
.in_follow{
    width: 80px;
    height: 38px;
    text-align: center;
    color: #424e66;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    margin-right: 15px;
    margin-left: 6px;
    margin-top: 6px;
    cursor: pointer;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px -10px #5c123a;
    transition: all 0.3s;
}
.in_follow:hover{
    transform: scale(1.1);
    margin-left: 8px;
    margin-right: 13px;
}
.head_r{
    display: none;
}
.report{
    background: #d4002a;
    color: #fff;
}

.in_more{
    width: 32px;
    height: 32px;
    background: url("../img/icon/more1.png");
    background-size: 100%;
    margin-top: 9px;
    cursor: pointer;
}
.in_content{
    margin-left: 60px;
    margin-top: 20px;
}
.in_content>p{
    font-size: 20px;
    color: #111;
}
.in_content>img{
    width: 400px;
    margin-top: 20px;
    border-radius: 15px;
}
#ib1 .in_avatar{
    background: url("../img/interest/list/avatar2.jpg");
    background-size: 100%;
}
#ib2 .in_avatar{
    background: url("../img/interest/list/avatar1.jpg");
    background-size: 100%;
}
#ib3 .in_avatar{
    background: url("../img/interest/list/avatar2.jpg");
    background-size: 100%;
}
#ib4 .in_avatar{
    background: url("../img/interest/list/avatar1.jpg");
    background-size: 100%;
}

.in_tag{
    display: block;
    font-size: 16px;
    color: #424e66;
    margin-left: 60px;
    margin-top: 5px;
}

.in_bottom{
    display: flex;
    flex-flow: row nowrap;
    margin-left: 60px;
    margin-top: 30px;
}
.in_bottom>img{
    width: 22px;
    height: 22px;
}
.in_bottom>.in_like{
    height: 22px;
    width: 26px;
}
.in_bottom>span{
    margin-left: 5px;
    margin-right: 20px;
    color: #999;
}


#publish{
    display: flex;
    width: 120px;
    box-sizing: border-box;
    border: 2px solid #c6294f;
    height: 40px;
    outline: 0;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 17px;
    margin-right: 10px;
    transition: all 0.3s;
}

#publish>img{
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-left: 20px;
}
#publish>span{
    display: block;   
    color: #c6294f;
    font-size: 15px;
    text-align: center;
    line-height:40px;
    margin-left: 6px;
}
